/* ==========================================================================
   Table of Contents
   ========================================================================== */

/*

    Logo
    Links
    Grid
    Prism
    Disqus
    Misc

 */

/* ==========================================================================
   Logo
   ========================================================================== */

.main-header.with-oos-logo {
  background: #fdfdfd;
  min-height: inherit;
  height: inherit;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.oos-logo .root-link {
  font-family: 'Source Code Pro', Consolas, Monaco, 'Andale Mono', monospace;
  font-weight: bold;
  font-size: 32px;
  white-space: nowrap;
  text-transform: lowercase;
}

.root-link:-webkit-any-link {
  text-decoration: none;
}

.oos-bracket {
  color: #dedede;
}
.oos {
  color: #333;
}


/* ===
   Links
   === */

a {
  color: #fe4365;
  transition: color 0.3s ease;
  text-decoration: none;
  font-weight: 600;
}

a:hover {
  color: #ff5f00;
  text-decoration: underline;
}

/* ==========================================================================
   Grid
   ========================================================================== */

.row, .col-1-2 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.col-1-2 {
  width: 50%;
}

[class*='col-'] {
  float: left;
  padding-right: 20px;
}
[class*='col-']:last-child {
  padding-right: 0;
}

@media only screen and (max-width: 900px) {
  [class*='col-'] {
    width: 100%;
    padding-right: 0;
  }
}


/* ==========================================================================
   Prism
   ========================================================================== */

code[class*="language-"],
pre[class*="language-"] {
  color: black;
  font-family: 'Source Code Pro', Consolas, Monaco, 'Andale Mono', monospace;
}

pre[class*=language-] {
  padding-right: 0;
  padding-bottom: 0;
}

pre[class*="language-"]:before,
pre[class*="language-"]:after {
  content: none;
}


/* ==========================================================================
   Disqus
   ========================================================================== */

#disqus_thread {
  margin-top: 6rem;
}


/* ==========================================================================
   4. Misc
   ========================================================================== */

.text-center {
  text-align: center;
}
