/* ==========================================================================
   Table of Contents
   ========================================================================== */

/*

    1. Prism

 */

/* ==========================================================================
   1. Prism - Overrides for prism
   ========================================================================== */

pre[class*=language-] {
  padding-right: 0;
  padding-bottom: 0;
}

pre[class*="language-"]:before,
pre[class*="language-"]:after {
  content: none;
}
